Lab3/lab3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="carservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="carID"/>
              <xs:element type="xs:float" name="ownerID"/>
              <xs:element type="xs:float" name="serviceID"/>
              <xs:element type="xs:string" name="model"/>
              <xs:element type="xs:float" name="year"/>
              <xs:element type="xs:string" name="lastservice"/>
              <xs:element type="xs:string" name="nextservice"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>