Lab3/lab3.dtd

<!DOCTYPE carservice
[
<!ELEMENT car (carID,ownerID,serviceID,model,year,lastservice,nextservice)>
<!ELEMENT carID (#PCDATA)>
<!ELEMENT ownerID (#PCDATA)>
<!ELEMENT serviceID (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT lastservice (yy,mm,dd)>
<!ELEMENT nextservice (yy,mm,dd)>
<!ELEMENT yy (#PCDATA)>
<!ELEMENT mm (#PCDATA)>
<!ELEMENT dd (#PCDATA)>
]>